%h4.row.blue-text Apps
.row
  %a{ href: "/apps" } Installed
  |
  %a{ href: "#/apps_definitions" } Definitions
  %a.right{ href: "javascript:void(0)" } Add app [+]


.row.hidden
  %h3 New app

.row
  %ul.collapsible.active{ data: { collapsible: "accordion" } }
    - AppInstance.all.each do |app|
      %li
        .collapsible-header
          %i.mdi-image-filter-drama
          &nbsp;#{app.name}
        .collapsible-body
          .separator15
          .right
            .col.s2
              %button.btn.btn-floating.grey
                %span.mdi-action-settings
            .hidden
          .container
            .asd
            .col.s12
              :css
                /* todo: move in css - fixes button rows */
                ul.row li {
                  margin-top: 15px
                }

              - tasks = Task.all

              %h5 Actions
              -#   | Tasks
              .settings.hidden
                %input{ name: "repo", placeholder: "username/repo (github)", type: "text" }

              .mk_progress.hidden
                .width-full.progress.progress-info.progress-striped.active.progress_bar
                  .bar.width-full
                    .separator5
                    .progress_text


              %ul.row.inset
                - for task in tasks.main
                  %li.col.col-45.align-center
                    %button.btn.blue.darken-2.action.left{ data: { action_name: task } }
                      = task
                .clear
                .separator30
              .separator15

              %h5 DB
              %ul.row
                - for task_db in tasks.sub.db
                  %li.col.col-45.align-center
                    %button.btn.blue.action.left{ data: { action_name: task_db } }
                      = task_db
                .clear

                .separator30
                .separator30

              %h5 Monitoring
              %ul.row
                - for task_monitoring in tasks.sub.monitoring
                  %li.col.col-45.align-center
                    %button.btn.blue.action.left{ data: { action_name: task_monitoring } }
                      = task_monitoring
                .clear

                .separator30
                .separator30
