%h4.row.blue-text Apps
.row
  /
    %a{ href: "/apps" } Installed
    |
    %a{ href: "#/apps_definitions" } Definitions

  %a.apps_add.right{ href: "javascript:void(0)" }
    Add app [+]
  :javascript
    var apps_add_btn = document.querySelector(".apps_add")
    apps_add_btn.addEventListener("click", function() {
      document.querySelector(".apps_new").classList.remove("hidden")
    })

.row.apps_new.hidden
  %h5 New app
  .separator15
  %label
    Github Repo:
    %input.app{ name: "name", type: "text", placeholder: "username/repo" }
  .separator15
  %button.create_app.btn.blue.left{ data: { action_name: "create_app" } } Add
  .separator30
  .separator30
.row
  %ul.collapsible.active{ data: { collapsible: "accordion" } }
    -# - AppInstance.all.each do |app|
      %li{ data: { app_name: app.name } }
        .collapsible-header
          %i.mdi-image-filter-drama
          &nbsp;#{app.name}
        .collapsible-body
          .separator15
          .right
            .col.s2
              %button.btn.btn-floating.grey
                %span.mdi-action-settings
            .hidden
          .container
            .asd
            .col.s12
              - tasks = Task.all

              %h5 Actions
              -#   | Tasks
              .settings.hidden
                %input{ name: "repo", placeholder: "username/repo (github)", type: "text" }

              .mk_progress.hidden
                .width-full.progress.progress-info.progress-striped.active.progress_bar
                  .bar.width-full
                    .separator5
                    .progress_text


              %ul.row.inset
                - for task in tasks.main
                  %li.col.col-45.align-center
                    %button.btn-task.btn.blue.darken-2.action{ data: { action_name: task, app_name: app.name } }
                      = task.capitalize
                .clear
                .separator30
              .separator15

              - if tasks.sub.db.any?
                %h5 DB
                %ul.row
                  - for task_db in tasks.sub.db
                    %li.col.col-45.align-center
                      %button.btn.blue.action{ data: { action_name: task_db, app_name: app.name } }
                        = task_db.capitalize
                  .clear

                  .separator30
                  .separator30

              - if tasks.sub.monitoring.any?
                %h5 Monitoring
                %ul.row
                  - for task_monitoring in tasks.sub.monitoring
                    %li.col.col-45.align-center
                      %button.btn.blue.action{ data: { action_name: task_monitoring, app_name: app.name } }
                        = task_monitoring.capitalize
                  .clear

                  .separator30
                  .separator30
