%h1

%section.main
  =# haml :apps, locals: { apps: apps }

  =# haml :machines, locals: { machines: machines }




.right
  %p You are logged in as #{current_user}!

  %form{ action: "/logout", method: "post" }
    %input{ type: "submit", value: "Logout" }
