%section.main

  .separator20vh
  %div
    .row.center-align
      %h4.white-text.center-align.logo
        %img{src: 'http://i.imgur.com/gq1nGld.png', width:'160'}
        .separator5
        .title Raudo
        .tagline Deploy web apps with a single click!


  =# haml :apps, locals: { apps: apps }

  =# haml :machines, locals: { machines: machines }
