%h1

%section.main

  %section.apps
    %h1 App
    -# - App.all.each do |app|
    -#   %section= app.name

  %section.machines
    %h1 Machines
    -# - Machine.all.each do |machine|
    -#  %section= machine.name
    -#  -# add new:
    -#  -#   - add ssh key
    -#  -#


%nav
  %a Apps
  %a Machines
  %a Domains

.right
  %p You are logged in as #{current_user}!

  %form{ action: "/logout", method: "post" }
    %input{ type: "submit", value: "Logout" }
