%h1

%section.main
  - Host.all.each do |host|

    %section= host.name


.right
  %p You are logged in as #{current_user}!

  %form{ action: "/logout", method: "post" }
    %input{ type: "submit", value: "Logout" }
