%html
  %head
    %meta{ charset: "utf-8 "}
    %title Raudo - Deploy your apps easily

    %link{ rel:"stylesheet", href: "/bower_components/materialize/dist/css/materialize.min.css", type:"text/css" }
    %link{ rel:"stylesheet", href: "/bower_components/fontawesome/css/font-awesome.min.css", type: "text/css" }
    %link{ rel:"stylesheet", href: "/font/montserrat.woff2"}
    %link{ rel:"stylesheet", href: "/main.css", type:"text/css" }
    %link{ rel:"stylesheet", href: "/progress-bar.css", type:"text/css" }
    %meta{ content: "width=device-width, initial-scale=1",  name: "viewport"}/
  %body{ class: body_class }

    %nav.blue.darken-2
      %div.nav-wrapper
        %a.brand-logo.navbar-logo{href: "/"}
          &nbsp;
          Raudo
          %img.hide-on-med-and-down{src: '/img/raudo_app_logo.png', width:'80'}
        %a.button-collapse{href: "#", :data => {"activates" => "nav-mobile"}}
          %i.mdi-navigation-menu
        %ul.left.hide-on-med-and-down
          %li
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          - nav_link "Apps"
          -# nav_link "Machines"
          -# nav_link "Domains"

        %ul.right.hide-on-med-and-down
          - if current_user
            %li
              %form.logout{ action: "/logout", method: "post" }
                %input{ type: "submit", value: "Logout" }
        %ul.side-nav#nav-mobile.font-20
          %li
            %a{ href: "/apps" }
              .blue-text.mdi-action-extension
                %span.grey-text.text-darken-2 Apps
          -# %li
          -#   %a{ href: "/machines" }
          -#     .blue-text.mdi-action-dns
          -#       %span.grey-text.text-darken-2 Machines
          -# %li
          -#   %a{ href: "/domains" }
          -#     .blue-text.mdi-action-language
          -#       %span.grey-text.text-darken-2 Domains

          -# - if current_user
          %li
            .dark-text.mdi-maps-directions-walk{ style: "color: grey"}
              %form.logout{ action: "/logout", method: "post" }
                %span.grey-text.text-darken-2
                  %input{ type: "submit", value: "Logout" }



    %section.container
      .separator15
      = yield

    %script{ src: "/bower_components/jquery/dist/jquery.min.js" }
    %script{ src: "/bower_components/materialize/dist/js/materialize.min.js" }
    %script{ src: "/main.js" }
