%html
  %head
    %meta{ charset: "utf-8 "}
    %title MKDeploy
    %link{ href: "bower_components/materialize/dist/css/materialize.min.css", rel:"stylesheet", type: "text/css" }
    %link{ href: "bower_components/fontawesome/css/font-awesome.min.css", rel:"stylesheet", type: "text/css" }
    %link{ href: "main.css", rel:"stylesheet", type: "text/css" }
    
  %body.blue.darken-2
    %section.content
      = yield