%div.separator20vh
%div
  %div.row.center-align
    %h4.white-text.center-align.logo
      %img{src: 'http://i.imgur.com/gq1nGld.png', width:'160'}
      %div.separator5
      Raudo
    %div.separator15
    %a.btn.waves-effect.waves-light.blue.lighten-5.grey-text{ href: '/auth/google_oauth2' }
      %i.fa.fa-google-plus.blue-text
      Google login
