%div.separator20vh
%div
  %div.row.center-align
    %div
      %img{src: 'http://i.imgur.com/gq1nGld.png', width:'150'}
    %div.white-text.center-align Deploino
    %a.btn.blue.lighten-5.grey-text{ href: '/auth/google_oauth2' }
      %i.fa.fa-google-plus.blue-text
      Google login

