.separator20vh
%div
  .row.center-align
    %h4.white-text.center-align.logo
      %img{src: 'http://i.imgur.com/gq1nGld.png', width:'160'}
      .separator5
      .title Raudo
      %h6.blue-text.text-lighten-4.font-lighter The webapps deployment tool
    .separator15
    .separator15
    %a.btn.waves-effect.waves-light.blue.lighten-5.grey-text.text-darken-2{ href: '/auth/google_oauth2' }
      %i.fa.fa-google-plus.blue-text.v-middle
      Google login
