%div.separator20vh
%div
  %div.row.center-align
    %h3.cyan-text.text-accent-3.center-align Deploino
    %a.btn.blue.lighten-5.grey-text{ href: '/auth/google_oauth2' }
      %i.fa.fa-google-plus.blue-text
      Google login

