.container
  .separator15
  %h4.row.blue-text Machines
  .row
    %a{ href: "/,apps" } Installed
    %span.grey-text.text-lighten-2 &nbsp;|&nbsp;
    %a{ href: "/apps_definitions" } Definitions (todo)
    %a.right{ href: "javascript:void(0)" } Add app [+]

  .row
    %ul.collapsible.active{:data => {"collapsible" => "accordion"}}
      %li
        .collapsible-header
          %i.mdi-image-filter-drama
          &nbsp;Doge app
        .collapsible-body
          .separator15
          .col.s12
            .col.s1
            .col.s10
              %b Active tasks
              %ul
                %li deploy
                %li reinitialize db
              .separator15
      %li
        .collapsible-header
          %i.mdi-image-filter-drama
          &nbsp; Asd app
        .collapsible-body
          %p Lorem ipsum dolor sit amet
      %li
        .collapsible-header
          %i.mdi-image-filter-drama
          &nbsp;Such app
        .collapsible-body
          %p Lorem ipsum dolor sit amet

  -# - App.all.each do |app|
  -#   - %section= app.name
