@font-face {
	font-family: Montserrat;
	src: url(/font/montserrat.woff2);
}

/*Settings*/
body{
	letter-spacing: 0.5px;
}
body.home{
	background-color: #1976D2;
}
/*Media*/
.navbar-logo,.logo{
	font-family: 'Montserrat';
	letter-spacing:-0.5px;
}
.logo img{
	margin-right:-40px;
}
/*Utils*/
.hidden {
	display: none;
}
.separator5{
	min-height: 5px;
	min-width:100%;
}
.separator15{
	min-height: 15px;
	min-width:100%;
}
.separator30{
	min-height: 30px;
	min-width:100%;
}
.separator20vh{
	min-height: 150px;
	height:20vh;
	min-width:100%;
}
.v-middle{
	vertical-align: middle;
}
/*fonts*/
.font-lighter{
	font-weight: lighter;
}


/*progress bar*/

.mk_progress, .progress_bar {
}
.mk_progress.hidden {
	height: 0px;
}
.mk_progress {
	height: 65px;
	animation: height 0.5s ease-in-out;
}
.progress_text, .progress_bar {
  position: absolute;
}
.progress_text {
	margin-top: 13px;
	text-align: center;
	color: white;
	font-family: 'Montserrat';
	font-weight: bold;
}
.progress_text span {
	font-size: 1.2em;
}
.progress_bar {
	border: 3px solid #AAA;
  outline:  2px solid #EEE;
	border-left: 0;
	border-right: 0;
	height: 50px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
	width: 8000px;
	-webkit-transform: translate3d(-3000px, 0, 0);
  -webkit-animation: indeterminate 0.39s linear infinite;

	background: repeating-linear-gradient(
	  45deg,
	  #1976D2, /* blue.darken-2 */
	  #1976D2 10px,
	  #2196F3 10px, /* blue */
	  #2196F3 20px
	);
}
@-webkit-keyframes indeterminate {
  100% {
    -webkit-transform: translate3d(3000px, 0, 0) ;
  }
}
